MICROSOFT_CLIENT_ID=TODO_FROM_AZURE_DASHBOARD
MICROSOFT_CLIENT_SECRET=TODO_FROM_AZURE_DASHBOARD
MICROSOFT_TENANT_ID=TODO_FROM_AZURE_DASHBOARD
MICROSOFT_WEBHOOK_SECRET=TODO_GENERATE
MICROSOFT_WEBHOOK_URL=https://chat.aiescape.io/api/webhooks
